body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0e6ff;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #ff69b4;
    font-size: 2.5em;
}

p {
    font-size: 1.5em;
    color: #333;
    margin: 20px 0;
    line-height: 1.4; /* 增加行高，增加文字之间的间距 */
    max-width: 600px; /* 设置最大宽度，控制每行的字数 */
    margin-left: auto; /* 居中对齐 */
    margin-right: auto; /* 居中对齐 */
    text-align: left; /* 左对齐文本 */
}

h2 {
    font-size: 2em;
    color: #ff69b4;
}

.full-photo {
    background-color: #fff;
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photo-gallery {
    margin-top: 40px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}

.gallery-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.game-container {
    margin-top: 40px;
    position: relative;
}

.game-area {
    width: 400px;
    height: 400px;
    border: 2px solid #ff69b4;
    position: relative;
    margin: 0 auto;
}

.character, .heart {
    position: absolute;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
}

.game-info {
    margin-top: 10px;
}

.controls {
    margin-top: 20px;
}

.controls button {
    font-size: 1.5em;
    padding: 10px;
    margin: 5px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.controls button:hover {
    background-color: #ff1493;
}
